<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pentegrate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <!-- Image and text -->
<!-- As a heading -->
<nav class="navbar bg-dark-subtle">
    <div class="container-fluid">
      <img src="https://ecp.yusercontent.com/mail?url=https%3A%2F%2Fattachment.freshdesk.com%2Finline%2Fattachment%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6NDgxOTIyNDk1ODQsImRvbWFpbiI6IndlYWNjZXB0YXNzaXN0LmZyZXNoZGVzay5jb20iLCJhY2NvdW50X2lkIjoxMTk3ODQzfQ.PG-_-eyKjVywB6dbCykLcdGY9kaUhePRUNB0qMTW4pU&t=1685401528&ymreqid=eeb0cb28-60d7-63f5-2f2c-5a000a01c000&sig=dIFv6_ZC8OFW.AE0CW0gAQ--~D" alt="paymob" width="150px" height="60px">
      <!-- <span class="navbar-brand mb-0 h1">Pentegrate</span> -->
    </div>
  </nav>

  <%- body %>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>